<ion-header>
  <ion-toolbar>
    <ion-title>{{ product?.name }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://i.imgur.com/lTRDgeE.jpeg"></ion-img>

<div px-20 py-20>
  <h1>{{ product?.name }}</h1>
 
  <p>{{ product?.finish }} Finish</p>

  <p><small>{{ product?.description }}</small></p>
  <p><b>{{ product?.durability }}</b> Durability</p>

  <!-- <h4>₹ {{ product?.price }}</h4> -->
</div>
 
</ion-content>
<ion-footer p-10>
  <ion-button expand="full">Add Insurance</ion-button>
</ion-footer>
